<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <a href="@Url.Action("Index","Entities")"><h1>Entities</h1></a>
        <a href="@Url.Action("Index","Stored")"><h1>Stored</h1></a>
        <a href="@Url.Action("Index","Dapper")"><h1>Dapper</h1></a>
    </div>
</div>